header{
    margin: 10px;
    background-color: black;
    border: 4px solid blue;
    color: aliceblue;
    
}
nav a{
    background-color: black;
    color: azure;
}
tr{
    background-color: black;
    color: azure;
}
.center{
    text-align: center;
}

#blabla{
    display: inline;
}