header{
    display: grid;
    align-items: center;
    padding: 5px 0;
    background-color: rgb(241, 132, 30);
    flex-wrap: nowrap;
}

input{
    padding: 5px 30px;
    text-align: left;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 40px;
    right: 20px;
}

main{
   
    
}

.videos{
    border: 1px solid black;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    height: 300px;
    width: 300px; 
    display: grid;
    align-items: end;
    justify-content: center;
    margin: 1cm;
}



    